/* https://github.com/yoopta-editor/Yoopta-Editor/issues/260 */
.dark,
[data-theme="dark"] {
  .yoopta-toolbar-root {
    background-color: var(--color-base-100) !important;
    border-color: color-mix(
      in oklab,
      var(--color-base-content) 30%,
      transparent
    ) !important;
  }

  .yoopta-toolbar-separator {
    background-color: color-mix(
      in oklab,
      var(--color-base-content) 30%,
      transparent
    ) !important;
  }

  .yoopta-toolbar-item:hover,
  .yoopta-toolbar-item-mark:hover {
    background-color: var(--color-base-300) !important;
  }

  .yoopta-mark-code {
    background-color: var(--color-base-300) !important;
  }

  .yoopta-extended-block-actions {
    background-color: var(--color-base-100) !important;
  }

  .yoopta-block-options-menu-content {
    background-color: var(--color-base-100) !important;
    border-color: color-mix(
      in oklab,
      var(--color-base-content) 30%,
      transparent
    ) !important;
  }

  .yoopta-block-options-button:hover {
    background-color: var(--color-base-300) !important;
  }

  .yoo-code-text-popover-foreground {
    background-color: var(--color-base-200) !important;
  }

  .yoo-code-text-popover-foreground > * > .yoopta-button:hover {
    background-color: var(--color-base-300) !important;
  }

  .yoopta-action-menu-list-content {
    background-color: var(--color-base-100) !important;
    border-color: color-mix(
      in oklab,
      var(--color-base-content) 30%,
      transparent
    ) !important;
  }

  .yoopta-action-menu-list-content > * > * > .yoopta-button:hover {
    background-color: var(--color-base-300) !important;
  }

  .yoopta-action-menu-list-content
    > *
    > *
    > .yoopta-button[aria-selected="true"] {
    background-color: var(--color-base-300) !important;
  }

  .yoopta-action-menu-list-content
    > *
    > *
    > .yoopta-button
    > .yoo-action-menu-flex {
    background-color: var(--color-base-200) !important;
  }

  .yoopta-block-actions-plus,
  .yoopta-block-actions-drag {
    color: color-mix(in oklab, var(--color-base-content) 30%, transparent) !important;
  }

  .yoopta-block-actions-plus:hover,
  .yoopta-block-actions-drag:hover {
    color: color-mix(in oklab, var(--color-base-content) 60%, transparent) !important;
  }

  .yoopta-link-preview {
    background-color: var(--color-base-100) !important;
    border-color: color-mix(
      in oklab,
      var(--color-base-content) 30%,
      transparent
    ) !important;
  }

  [data-radix-popper-content-wrapper] button {
    color: #000;
  }
}
