/* NotionLikeViewerTheme: Table styles (copied from NotionLikeEditorTheme__table*) */
.NotionLikeViewerTheme__tableScrollableWrapper {
	overflow-x: auto;
	margin: 0px 25px 30px 0px;
}
.NotionLikeViewerTheme__tableScrollableWrapper > .NotionLikeViewerTheme__table {
	/* Remove the table's vertical margin and put it on the wrapper */
	margin-top: 0;
	margin-bottom: 0;
}
.NotionLikeViewerTheme__tableAlignmentCenter {
	margin-left: auto;
	margin-right: auto;
}
.NotionLikeViewerTheme__tableAlignmentRight {
	margin-left: auto;
}
.NotionLikeViewerTheme__table {
	border-collapse: collapse;
	border-spacing: 0;
	overflow-y: scroll;
	overflow-x: scroll;
	table-layout: auto;
	width: 90%;
	margin-top: 25px;
	margin-bottom: 30px;
}

.NotionLikeViewerTheme__tableCell {
  border: 1px solid var(--color-neutral);
  background-color: var(--color-base-100);
  width: auto;
  min-width: 75px;
  vertical-align: top;
  text-align: start;
  padding: 6px 8px;
  position: relative;
  outline: none;
  overflow: auto;
}
/*
  A firefox workaround to allow scrolling of overflowing table cell
  ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1904159
*/
.NotionLikeViewerTheme__tableCell > * {
  overflow: inherit;
}
.NotionLikeViewerTheme__tableCellHeader {
  background-color: var(--color-base-200);
  text-align: start;
}

