@import "tailwindcss";
@plugin "flyonui" {
  themes: all;
}
@import "flyonui/variants.css";
@import "flyonui/src/vendor/notyf.css";
@source "./node_modules/flyonui/dist/index.js";
@plugin "@iconify/tailwind4";
@import "react-day-picker/style.css";

/* テーブルホバーボタン用のスペースを確保 */
body {
  padding-bottom: 100px;
}

/* Editor の DayPicker 用カスタムプロパティ
https://daypicker.dev/docs/styling#css-variables */
.rdp-root {
  --rdp-accent-color: var(--color-accent)
}
[data-theme="dark"] .rdp-root {
  --rdp-accent-color: var(--color-accent)
}

