@import "tailwindcss";
@plugin "flyonui" {
  themes: all;
}
@import "flyonui/variants.css";
@import "flyonui/src/vendor/notyf.css";
@import "flyonui/src/vendor/editor.css";
@source "./node_modules/flyonui/dist/index.js";
@plugin "@iconify/tailwind4";
