@import "tailwindcss";
@plugin "flyonui" {
  themes: all;
}
@import "flyonui/variants.css";
@import 'notyf/notyf.min.css';
@import "flyonui/src/vendor/notyf.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "flyonui/src/vendor/flatpickr.css";
@source "./node_modules/flyonui/dist/index.js";
@plugin "@iconify/tailwind4";
@import "react-day-picker/style.css";

/* font-mono クラスを上書き（HackGen を使用） */
.font-mono {
  font-family: var(--font-hackgen), "Source Han Code JP", "Noto Sans Mono CJK JP", monospace;
}

/* テーブルホバーボタン用のスペースを確保 */
body {
  padding-bottom: 100px;
}

/* Editor の DayPicker 用カスタムプロパティ
https://daypicker.dev/docs/styling#css-variables */
.rdp-root {
  --rdp-accent-color: var(--color-accent)
}
[data-theme="dark"] .rdp-root {
  --rdp-accent-color: var(--color-accent)
}

